.cell {
    border: 0.5px solid rgb(56, 56, 56);
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    margin: 100px auto;
    height: 500px;
}

h1{
    color: rgb(0, 47, 255);
    text-align: center;
}

button {
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
}

button:hover{
    background-color: pink;
}

#buttons{
    text-align: center;
}

*{
    box-sizing: border-box;
}